@page {
  width: A3;
  height: A3;
  margin: 12mm 24mm;
}
@media screen {
  #wrapper {
    margin: 0 auto;
    padding: 2em;
    max-width: 1200px;
  }
}
html {
  font-size: 16px;
}
body {
  color: #999;
  font-family: Ricty;
}
body.html td {
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent;
}
body.svg td {
  position: relative;
  height: 17vh;
}
body.svg svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  dominant-baseline: text-before-edge;
  fill: #fff;
  stroke: currentColor;
  stroke-width: 4;
  stroke-linejoin: round;
  paint-order: stroke;
}
h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
}
table {
  table-layout: fixed;
  width: 100%;
  margin-top: 36px;
}
table th {
  font-size: 2rem;
  text-align: center;
  color: #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}
table td {
  font-size: 4rem;
  border-bottom: 2px solid #bfbfbf;
}
table td + td {
  border-left: 2px dashed #bfbfbf;
}
.sat {
  color: #00a0e9;
}
.sun {
  color: #e60012;
}
