doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    title
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="css/main.css")
    script(src="js/main.js")
  body.svg
    #wrapper
      h1.month
      table
        thead
          //- each name in ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
          //-   th= name
        tbody
          
